.rel{
    position: relative !important;
}
.abs{
    position: absolute !important;
}
.d-flex{
    display: flex !important;
}
.jcc{
    justify-content: center !important;
}
.aic{
    align-items: center !important;
}
// 자주 쓰게 되는 클래스는 병합해서 쓴다 부트스트랩의 row , conteint와 같이 //
.flexcenter{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.flexbetween{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
a{
    text-decoration: none;
    
}
// 커스터마이징 //
#hd{
    padding: 0 3rem;
    .gnb{
        // ul 네비게이션 //
        &:hover{
            &:before{
                height:calc(13rem + 20px); // 연산자 앞뒤로 띄어쓰기 해주어야함  height:calc((2.3rem * 5 ) + 20px) // 
            }
            .gnb_li{
    
                .gnb_a{
    
                }
                .gnb_ul{
                    height:calc(13rem + 20px);
                }
            }
        } //////////////// 여기까지가 gnb에 hover했을때의 스타일상태임 //
        &:before{
            // 메뉴뒤 전체 날개 제일 중요한 것은 position이 abs라는 것 / hd에 position를 넣어주어 기준이 되도록 했음
            // 화면 가득 나오게 했던 것은 hd가 기준이기 때문
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 0px;
            background-color: rgba(0,0,0,.5);
            transition: 0.5s;
        }
        .gnb_li{
                // 대메뉴 li
                padding: 0 1rem;
                font-size: 1.3rem;
                line-height: 2;
            .gnb_a{
                // 대메뉴 a
                font-size: 2rem; // 대메뉴의 폰트사이즈는 rem으로 사용하기 //
                line-height: 100px; //상단에 height가 가장 큰 객체의 높이를 넣어준다//
                display: block;
            } //a는 inline 태그기 때문에 line-height를 사용해도 전체높이를 잘 잡지 못하기 때문에 d-block 를 사용해주어야 한다.
            .gnb_ul{
                // 소메뉴 포지션이 abs임
                top: 100%;
                left: 0;
                min-width: 120px;
                height: 0;
                overflow: hidden;
                transition: 0.5s;
            }
        }
    }
}